@model IEnumerable<Portal.Models.Application>
@{
    ViewData["Title"] = "Application Access";
}

<!DOCTYPE html>

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                Application Name
            </th>
            <th>
                Access
            </th>
            <th>
                Operation
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var app in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => app.Name)
                </td>
                @if (app.AccountApplications != null)
                {
                    <td>
                        Yes
                    </td>
                    <td>
                        
                    </td>
                }
                else
                {
                    <td>
                        No
                    </td>
                    <td>
                        <a asp-action="ApplyForUse" asp-route-id="@app.Id">Apply for Use</a>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>